:root {
  --page-background: #eefded;
  --header: #0c335a;
  --home-button: #fcba40;
  --button-text-color: black;
  --text-color: black;
  --username-color: #0c335a;
  --square-button: #eefded;
  --transition-opacity: 0;
  --food-label: white;
}
[data-theme="dark"] {
  --page-background: #0c335a;
  --text-color: white;
  --header: white;
  --username-color: #eefded;
  --food-label: #0f486c;
  --square-button: #eefded;
  --transition-opacity: 100;
}

body {
  scale: 1;
  background-color: var(--page-background);
  color: var(--text-color);
  margin: 0;
}

html * {
  transition-property: color, background-color;
  transition-duration: 150ms;
  user-select: none;
}

.app-container {
  margin: 0;
  padding: 5px;
  position: relative;
  width: calc(100svw - 10px);
  height: calc(100svh - 12px);
  overflow: hidden;
  color: var(--text-color);
}

.container-box {
  background-color: var(--page-background);
  padding: 6px;
  margin: 0;
}

.main-page {
  position: absolute;
  transition: visibility, right, left, color, background-color;
  transition-duration: 200ms;
  transition-behavior: allow-discrete;
  height: calc(100svh - 12px);
  top: 0px;
}

#homepage {
  right: 0vw;
  left: 0vw;
  display: block;
  visibility: visible;
}
#homepage.transition {
  right: 100vw;
  left: -100vw;
  visibility: hidden;
}
.subpage {
  right: 0vw;
  left: 0vw;
  display: block;
  visibility: visible;
}
.subpage.transition {
  right: -100vw;
  left: 100vw;
  visibility: hidden;
}

p {
  color: var(--p-color);
}

.appearence-svg {
  transition: transform 550ms ease-in-out;
  transform: rotate(0turn);
}

.blue-button {
  background-color: var(--home-button);
  color: var(--button-text-color);
  border: 2px solid var(--button-text-color);
}
.bi-star {
  fill: "black";
}

hr {
  margin: 5px 0px 10px 0px;
}

h1 {
  margin: 5px 0px 5px 0px;
  font-family: "Arvo", serif;
}

h2 {
  color: var(--header);
}

.form-div {
  margin-top: 12px;
}

.form-field {
  height: 26px;
}

.item-container {
  margin: auto;
  max-width: 500px;
  border: 1px solid;
  margin-bottom: 10px;
  color: var(--header);
  background-color: var(--food-label);
  min-height: 120px;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 130px 60px;
}

.grid-header {
  grid-row: span 4;
  align-content: center;
  gap: 0px;
  padding-left: 2px;
  /* border: 1px solid; */
  /* border-right: 1px solid; */
  margin: 0;
  font-size: 20px;
}

.food-amount {
  margin: 4px 0px 0px 2px;
}

#foods-div {
  overflow: auto;
  height: calc(100svh - 134px);
}

.grid-container > p {
  margin: 0px;
  padding: 5px 0px 5px 8px;
  border: 1px solid;
}
.grid-container div {
  grid-row: span 4;
  border: 1px solid;
  align-content: center;
}

.grid-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.square-button {
  cursor: pointer;
  border: 1px solid var(--header);
  border-radius: 30%;
  background-color: var(--square-button);
  width: 30px;
  height: 30px;
}

.grid-buttons img {
  cursor: pointer;
  border: 1px solid var(--header);
  border-radius: 30%;
  background-color: var(--page-background);
  width: 30px;
  height: 30px;
}

.meal-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 1fr 70px; */
  min-height: 180px;
  width: calc(100% - 12px);
  max-width: 600px;
  border: 0;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  margin: 0px;
}
.collapsed {
  grid-template-rows: 115px 70px;
}
.expanded {
  grid-template-rows: 115px auto 70px;
}
.meal-macro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.expanded .meal-macro {
  border-top: 1px solid;
}
.meal {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#meal-div {
  overflow: auto;
  height: calc(100svh - 115px);
}

.meal-food {
  scale: 95%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 2fr 1fr;
  width: calc(100% - 2px);
  margin: 0px auto 0px auto;
}
.meal-food h1 {
  font-size: 20px;
}
.meal-food p {
  margin: 0;
  align-content: center;
}

.meal .grid-container {
  margin-bottom: 1px;
  scale: 95%;
}
.meal .grid-buttons {
  border-bottom: 1px solid;
  border-right: 0;
}

.meal-header {
  grid-column: span 3;
  align-content: center;
  gap: 0px;
  padding-left: 2px;
  margin: 0;
  /* font-size: 20px; */
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  position: relative;
}
.meal-header h4 {
  margin: 0;
  font-size: 20px;
}

#toast {
  transition-duration: 200ms;
  transition-property: bottom, opacity;
  bottom: -10%;
}
#toast.activated {
  bottom: 5%;
}

.popup-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0%;
  background-color: #000000c0;
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.popup-screen > form {
  margin: 6vh auto 0 auto;
  width: 60%;
  padding: 30px 50px;
  background-color: #0c335a;
  border-radius: 25px;
  border: 2px solid #fcba40;
}
#log-div {
  overflow: auto;
  height: calc(100svh - 172px);
}
#what-fits-div {
  overflow: auto;
  height: calc(100svh - 100px);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

@media (min-width: 1000px) and (min-height: 800px) {
  .app-container {
    zoom: 2;
    width: calc(50svw - 10px);
    height: calc(50vh - 10px);
  }
  .popup-screen {
    width: 50vw;
    height: 50vh;
  }
  .popup-screen form {
    margin: 10px auto 0 auto;
    width: 30%;
  }
  #foods-div {
    height: calc(50svh - 129px);
  }
  #meal-div {
    height: calc(50svh - 108px);
  }
  #what-fits-div {
    height: calc(50svh - 92px);
  }
  #log-div {
    height: calc(50svh - 172px);
  }
  #homepage.transition {
    right: 50vw;
    left: -50vw;
    visibility: hidden;
  }
  .subpage.transition {
    right: -50vw;
    left: 50vw;
    visibility: hidden;
  }
  h1 {
    font-size: 25px;
  }
}
